<h1>Administration home page</h1>

<p>
  <table>
  <tr>
     <td><%= link_to "Users", admin_users_path %></td>
     <td>Create & delete user accounts for the system</td>
  </tr>
  </table>
</p>

<p><%= link_to 'Back to Home', home_index_path %></p>
