<h1>Editing exhibitor</h1>

<%= render :partial => "form" %>


<p><%= link_to 'Show', :action => "show", :id => @exhibitor %> | 
   <%= link_to 'Delete', @exhibitor, :confirm => 'Are you sure?', :method => :delete %> |
   <%= link_to 'Back to list', exhibitors_path %>
</p>

