<h1>Listing users</h1>

<table>
  <tr>
    <th>Company name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.email %></td>
    <td><%= link_to 'Destroy', '/admin/users/destroy', :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_admin_user_path  %>
