  <ul id="head-nav">
    <li><a href="#" id="active" >Home</a></li>
    <li><a href="#">Registrations</a></li>
    <li><a href="#">Events</a></li>
    <li><%= link_to "Exhibitors", exhibitors_path %></li>
    <li><%= link_to "Event Series", "/event_series/"  %></li>
    <li><%= link_to "Admin", admin_index_path %></li>
  </ul>
