  <ul id="head-nav">
    <li><%= link_to "Home", home_index_path %></li>
    <li><a href="#">Registrations</a></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Exhibitors", exhibitors_path %></li>
    <li><a href="#">Events Series</a></li>
    <li><%= link_to "Admin", admin_index_path %></li>
  </ul>
